<div class="foot">

  <div class="container">
    <div class="col-md-5 col-md-offset-1">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.4449770361243!2d-73.30337268407825!3d44.97527097909821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc989e1df166971%3A0xca9cfc9cb8e647a6!2s16+S+Main+St%2C+Alburg%2C+VT+05440!5e0!3m2!1sen!2sus!4v1494927247065" width="400" height="300" frameborder="0" style="border:0"  allowfullscreen></iframe>
    </div>
    <div class="col-md-5 col-md-offset-1">
      Alburgh Public Library <br>
      16 So. Main St Alburgh, VT 05440 <br>
      802-796-6077 <br>
      alburghpl@gmail.com <br><br>

      Hours:<br>
        <ul>
          <li>Monday 1-6</li>
          <li>Tuesday 9-5</li>
          <li>Wednesday 1-6</li>
          <li>Thursday 1-6</li>
          <li>Friday 1-6</li>
          <li>Saturday 10-1</li>
        </ul>
        
    </div>
  </div>

</div>
