
    <div class="nav-top">
        <img src="assets/img/sun.png" alt="logo" style="height:80px;">
       Alburgh Public Library
    </div>
    <div class="nav-bottom container">
        <ul >
            <li class="current"><a routerLink="" data-hover="Home">Home</a></li>
            <li class="current"><a routerLink="/catalog" data-hover="Catalog">Catalog</a></li>
            <li class="current"><a routerLink="/resources" data-hover="Resources">Resources</a></li>
            <li class="current"><a routerLink="/programs" data-hover="Programs">Programs</a></li>
            <li class="current"><a routerLink="/history" data-hover="History">History</a></li>
        </ul>
        <hr class="style17">
    </div>



