<h1>Programs and Events</h1>
<hr />

<p-schedule [events]="events" [header]="header" [eventLimit]="4" [editable]="true"
            (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"></p-schedule>


<p-dialog [(visible)]="dialogVisible" showEffect="fade"  >
    <div *ngIf="event">
        
      <div class="media-left">
        <a href="#">
        <img class="media-object" src="{{event.imageObject.source}}" style="width:150px;" alt="...">
        </a>
    </div>
    <div class="media-body" style="width:200px;" >
        <h4 class="media-heading">{{event.title}}</h4>
        <h5> {{event.start| date:'EEEE, MMMM, d j'}} <span *ngIf="event.end"> - {{event.end| date:'j'}}</span> </h5> <h5 *ngIf="event.end">  </h5>
        <p>{{event.description}}</p>
    </div>
       

    </div>

</p-dialog>
