




<div class="container">

<h1>Welcome to Your Library</h1>
<hr>

  <div class="col-md-8 main-left">
    <h2>News</h2>

    <img src="/assets/img/2.jpg" alt="part">
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
     eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
      voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
       sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
        quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
         veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
          Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum 
          qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

<br><br>
 <img src="/assets/img/1.jpg" alt="part">
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
     eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
      voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
       sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
        quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
         veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
          Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum 
          qui dolorem eum fugiat quo voluptas nulla pariatur?</p>



  </div>

  <div class="col-md-4 main-right">
    
      <h2>Hours</h2>
      <hr class="style17">
        <ul>
          <li>Monday 1-6</li>
          <li>Tuesday 9-5</li>
          <li>Wednesday 1-6</li>
          <li>Thursday 1-6</li>
          <li>Friday 1-6</li>
          <li>Saturday 10-1</li>
        </ul>
   


      <h2>Events</h2>
      <hr class="style17">
      <app-facebookevents></app-facebookevents>

  </div>


</div>  



