
<div  class="media">
    <div *ngFor="let event of events ">
        <div *ngIf="event.start_time > today">
            <div class="media-left">
                <a href="#">
                <img class="media-object" src="{{event.picture.data.url}}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{event.name}}</h4>
                <h5> {{event.start_time| date:'EEEE, MMMM d, j'}} </h5>
                <p>{{event.description}}</p>
            </div>
            <br>
            <br>
        </div>
        
    </div>
</div>

  
